/Debug
/UpgradeLog.htm
/UpgradeLog2.htm
/WinRot.VC.db
/WinRot.sdf
/WinRot.v11.suo
/WinRot.vcxproj.user
/build/player/*.bak
/build/player/*.plr
/live/player/*.bak
/live/player/*.plr
/build/WinRot.exe
/live/WinRot.exe
